.vscode/tasks.json
Codice/Sartoria.exe
Codice/Inventario.txt
Codice/Progetti.txt
.vscode/settings.json
Codice/Sartoria (Base Version).c
Codice/Sartoria (Base Version V2).c
Codice/Sartoria (Base Version).exe
